<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
        <head>
         <meta http-equiv="cache-control" content="public, no-transform" />
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1" />
         <meta name="apple-mobile-web-app-capable" content="yes" />
         <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
         <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
                  <link rel="dns-prefetch" href="https://cdns.klimg.com/" />
        		 <!--canonical--><link rel="canonical" href="https://www.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html" /><!--end canonical-->
                              <meta content="Prediksi Skor Arsenal vs Leicester City, Prediksi Bola 27 April 2017, Hasil Akhir Arsenal vs Leicester City, Premier League, Arsenal vs Leicester City, Preview Pertandingan, arsenal, premier league, leicester city, prediksi pertandingan, prediksi bola, prediksi skor" name="description" />
                <meta content="prediksi, skor, arsenal, vs, leicester, city, prediksi, bola, 27, april, 2017, hasil, akhir, arsenal, vs, leicester, city, premier, league, arsenal, vs, leicester, city" name="keywords" />
                      <title>Prediksi Arsenal vs Leicester City 27 April 2017 - Bola.net</title>
         <link href="https://cdns.klimg.com/bola.net/library/m/icon/favicon.ico?v5" rel="shortcut icon" />
         <link rel="stylesheet" type="text/css" href="https://cdns.klimg.com/a.bola.net/assets/css/m/min/single/0.3/small.css?1493095639" />

    	 <!--added to overrride small.css (ren 02/12/2012)-->
    	 <link rel="stylesheet" type="text/css" href="https://cdns.klimg.com/a.bola.net/assets/css/m/min/0.1.2.4/bola.css?1493095639" />
         <script type="text/javascript" src="https://cdns.klimg.com/a.bola.net/assets/js/m/min/0.0.1.3/m_bola.js?1493095639"></script>
         <script>
        	(function (i, s, o, g, r, a, m) {
        		i['GoogleAnalyticsObject'] = r;
        		i[r] = i[r] || function () {
        			(i[r].q = i[r].q || []).push(arguments)
        		}, i[r].l = 1 * new Date();
        		a = s.createElement(o),
        				m = s.getElementsByTagName(o)[0];
        		a.async = 1;
        		a.src = g;
        		m.parentNode.insertBefore(a, m)
        	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        	ga('create', 'UA-71408030-2', 'auto', 'KLNBola');
        	ga('KLNBola.send', 'pageview');

        	/*new GA 20160430*/
        	ga('create', 'UA-77163752-1', 'auto');
        	ga('send', 'pageview');
        </script>

        <link rel="amphtml" href="https://m.bola.net/amp/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html?hash=20170425">
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
        _atrk_opts = { atrk_acct:"+NMKm1aMp4Z35T", domain:"bola.net",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
        </script>
        <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=+NMKm1aMp4Z35T" style="display:none" height="1" width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->

        <!-- ProPS Insight script -->
        <script type="text/javascript">
          var _siteId="579707257";
          (function(){
          var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//st-a.props.id/insight.js ";
          var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
        </script>
        <!-- End of ProPS Insight script -->



        <meta property="og:title" content="Prediksi Arsenal vs Leicester City 27 April 2017 - Bola.net"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="https://www.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html"/>
        <meta property="og:image:secure_url" content="https://cdns.klimg.com/bola.net/library/upload/20/2017/04/preview-arsenal-vs-l_f8398a7.jpg"/>
        <meta property="og:image" content="http://cdn.klimg.com/bola.net/library/upload/20/2017/04/preview-arsenal-vs-l_f8398a7.jpg"/>
        <meta property="og:site_name" content="Bola.net" />
    <meta property="fb:app_id" content="109215469105623"/><meta property="fb:admins" content="1048538409"/><meta property="fb:admins" content="1097932670"/><meta property="fb:admins" content="1560920678"/>
<meta property='og:description' content='Prediksi Skor Arsenal vs Leicester City, Prediksi Bola 27 April 2017, Hasil Akhir Arsenal vs Leicester City, Premier League, Arsenal vs Leicester City, Preview Pertandingan, arsenal, premier league, leicester city, prediksi pertandingan, prediksi bola, prediksi skor' />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" content="bola.net" />
        <meta name="twitter:site" content="@Bolanet" />
        <meta name="twitter:creator" content="@Bolanet" />
        <meta name="twitter:image" content="https://cdns.klimg.com/bola.net/library/upload/20/2017/04/preview-arsenal-vs-l_f8398a7.jpg" />
        <meta name="twitter:description" content="Prediksi Skor Arsenal vs Leicester City, Prediksi Bola 27 April 2017, Hasil Akhir Arsenal vs Leicester City, Premier League, Arsenal vs Leicester City, Preview Pertandingan, arsenal, premier league, leicester city, prediksi pertandingan, prediksi bola, prediksi skor" />
        <meta name="twitter:title" content="Bola.net: Prediksi Arsenal vs Leicester City 27 April 2017" />
        <meta name="twitter:url" content="https://www.bola.net/" />

        </head>
    <body>



         <!-- topframe_Ad -->
         <div class="w100p">
            <!--DFP TOP FRAME CODE-->
                <div id="div-gpt-ad-bola-topfrm-oop" style="text-align: center;background-color:#ececec;"></div>
            <!--END DFP TOP FRAME CODE-->
        </div>
        <!-- eof_topframe_Ad -->



    <div id="main_top">
            <div id="main_top_logo"><a href="/"><img src="https://cdns.klimg.com/bola.net/library/m/icon/m_logo.gif"/></a></div>
            <div id="main_top_nav">
                <a href="/" class="main_top_nav_home"><img src="https://cdns.klimg.com/bola.net/library/i/v2/home-13.jpg" alt="home-13" width="16" height="16" /></a>
                <a href="/berita_terkini/" class="main_top_nav_item">BERITA</a>
                <!--<a href="/jadwal_skor/score.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; Skor</a>-->
                <a href="/jadwal_skor/score.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; JADWAL</a>
                <a href="/jadwal_skor/klasemen_liga_inggris.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; KLASEMEN</a>
                <a href="/lainnya.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; LAINNYA</a>
            </div>

	                <!-- BREAKING NEWS -->
            <div id="breaking-place"></div>
            <!-- END BREAKING NEWS -->

            <!-- GOOGLE SEARCH MENU TOP-->
            <div id="main_top_search">
                <form id="main_top_search_form" action="/search/">
                    <fieldset>
                        <input type="text" id="main_top_search_text" name="qx" />
			<input type="hidden" value="015807142566320303553:lh1gjevalna" name="cx" />
			<input type="hidden" value="FORID:9" name="cof" />
			<input type="hidden" value="UTF-8" name="ie" />
                        <input type="submit" id="main_top_search_submit" value="SEARCH" name="sa" />
                    </fieldset>
                </form>
            </div>
			<!-- END GOOGLE SEARCH MENU TOP-->
        </div>
    <div class="a2">
    <div class="a3"></div>
    <div class="c0"></div>
    <link href="https://cdns.klimg.com/a.bola.net/assets/css/m/min/single/0.2/native-video.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdns.klimg.com/a.bola.net/assets/js/m/min/single/0.2/native-video.js"></script>
    <script async src="https://play.skrin.id/js/embed.irma.2.js"></script><style>
.twitter-video.twitter-video-rendered{
    min-width: 100% !important;
}
</style>
<!-- new layout -->
<div class="rm01">
    <!-- Advertorial -->
        <!--End Advertorial -->


    <!-- subtitle and link tag subtitle -->
                    <div class="subtitle"><a href="https://m.bola.net/tag/"></a></div>
        <!-- eof subtitle and link tag subtitle -->

    <div class="nb1 title-news">Prediksi Arsenal vs Leicester City 27 April 2017</div>
    <div class="d2 date-news">25-04-2017 11:39</div>


    <!-- Image Headline -->
                <div class="news-i">
                <center>
                    <img style="width:100%;" alt="Prediksi Arsenal vs Leicester City 27 April 2017" src="https://cdns.klimg.com/bola.net/resized/640x480/library/upload/20/2017/04/preview-arsenal-vs-l_f8398a7.jpg" />
                </center>
                <span class="fz-7">Preview Arsenal Vs Leicester City (c) Bola.Net</span>
            </div>
                <!-- End Image Headline -->

        <!-- SOCIAL SHARE DETAIL -->
    <div style="padding-left:12px;border:none;margin: -10px 0 -10px 0;">
        <link rel="stylesheet" href="https://a.kapanlagi.com/v5/css/m/social.css?v1.6">
        <div id="kl-social-mobile"></div><br/>
        <script type="text/javascript" src="https://a.kapanlagi.com/v5/js/m/social.js?v1.6"></script>
        <script>
            $(document).ready(function() {
                $('#kl-social-mobile').klnsosial({
                    url:"https://m.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html",
                    comment_count:-1,
                    twitter_user: 'bolanet'
                });
            });
        </script>
    </div>
    <!-- END SOCIAL SHARE DETAIL -->
    </div>

        <!-- lower_Ad -->
        <div class="w100p">
            <!--DFP HEADLINE CODE-->
            <div id="div-gpt-ad-bola-hl" style="text-align: center; width: 320px; margin: 0 auto;"></div>
            <!--END DFP HEADLINE CODE-->
        </div>
        <!-- eof_lower_Ad -->
    <br />
<div class="rm01">
    <!-- Paging button -->
        <!-- End Paging button -->

    <!-- Body News --->
    <div id="content-news">
    <b>Bola.net</b> - Raksasa Premier League, <b>Arsenal </b>bertekad untuk melanjutkan rentetan hasil apik yang mereka peroleh belakangan ini. Untuk itu mereka akan kembali membidik kemenangan saat menjamu <b>Leicester City </b>pada hari Kamis (27/4) dini hari nanti.<!-- CROSSLINK MERDEKA -->
            <link rel="stylesheet" type="text/css" href="https://cdns.klimg.com/a.merdeka.com/css_v2/klncrosslinkstylem.css?pergi">
            <script src="https://cdns.klimg.com/a.merdeka.com/js_v2/klncrosslinkplugin.js" async></script>
            <div id="klncrosslink">
                <div class="title-crosslink">READ MORE</div>
                <ul id="list-crosslink"></ul>
                <input type="hidden" name="channel_name" id="channel_name" value="bola.net">
            </div>
            <!-- END CROSSLINK MERDEKA -->
    <!-- middle_Ad -->
        <!--DFP SHOWCASE CODE-->
            <div id="div-gpt-ad-bola-sc" style="text-align: center; width: 300px; margin: 0 auto;"></div>
        <!--END DFP SHOWCASE CODE-->
    <!-- eof_middle_Ad --> <br/>Semenjak awal 2017 kemarin, performa Arsenal di Premier League bisa dikatakan cukup merosot. Hingga pertandingan pekan ke 34 kemarin, kubu London Utara itu hanya menduduki peringkat 7 klasemen sementara Premier League dengan mengoleksi 57 poin, tertinggal 7 poin dari <b>Manchester City </b>yang berada di peringkat 4. Demi kembali bermain di Liga Champions musim depan, kubu <i>The Gunners </i>pantang untuk kehilangan poin lagi hingga akhir musim nanti.<br /><br />Namun belakangan ini performa Arsenal sudah mulai membaik. Usai dikalahkan <b>Crystal Palace </b>dengan skor 3-0, mereka sudah meraih dua kemenangan beruntun di mana terakhir kali mereka mengalahkan <b>Manchester City </b>untuk melaju ke Final FA Cup. Kemenangan atas<i> The Citizens</i> ini tentu memberikan tambahan kepercayaan diri yang besar, sehingga mereka tidak akan gentar menghadapi pertandingan tengah pekan nanti.<br /><br />Lawan yang akan mereka hadapi nanti adalah <b>Leicester City</b>. Juara bertahan EPL ini memang mengalami kemerosotan yang cukup parah musim ini, di mana hingga pekan ke 34 kemarin mereka hanya menduduki peringkat 15 setelah musim lalu keluar sebagai juara EPL. Namun semenjak ditangani <b>Craig Shakespeare</b>, tim berjuluk <i>The Foxes </i>itu tampil cukup gemilang, di mana mereka berhasil menembus babak perempat final Liga Champions.<br /><br />Jika menilik sejarah pertemuan kedua tim, maka Arsenal masih menajdi tim yang diunggulkan. Terakhir kali kedua tim ini berjumpa di awal musim kemarin, tidak ada pemenang di antara keduanya setelah laga berakhir 0-0. Namun secara umum The Foxes belum sekalipun mengalahkan Arsenal semenjak tahun 2003 silam sehingga <i>The Gunners</i> harusnya bisa mengatasi perlawanan sang juara bertahan EPL tersebut.<br /><br />Jelang laga ini kubu Arsenal tengah dilanda badai cedera yang cukup parah. Tercatat<b> Santi Cazorla, Lucas Perez, David Ospina, Jeff Reine-Adelaide </b>dan <b>Shkodran Mustafi </b>nampaknya tidak bisa tampil pada tengah pekan nanti karena masih dalam proses pemulihan cedera.<br /><br />Mengingat jadwal yang cukup padat, <b>Arsene Wenger </b>diprediksi akan melakukan sejumlah pergantian pada laga ini. Menggunakan skema 3 bek, Wenger kemungkinan besar akan memainkan <b>Danny Welbeck </b>sebagai juru gedor mereka pada laga ini, di mana ia akan dibantu oleh <b>Alexis Sanchez </b>dan <b>Mesut Ozil </b>di posisi gelandang serang. Di lini pertahanan, Wenger kemungkinan akan memainkan trio <b>Rob Holding, Laurent Koscielny </b>dan <b>Gabriel Paulista </b>untuk mengawal <b>Petr Cech </b>selaku palang pintu terakhir mereka.<br /><br />Di kubu tim tamu, Craig Shakespeare datang ke London dengan kondisi cedera yang tidak kalah buruk. Tercatat <b>Molla Wague, Nampalys Mendy </b>dan <b>Islam Slimani </b>dipastikan harus absen pada laga ini karena mengalami cedera.<br /><br />Shakespeare sendiri kemungkinan tidak akan banyak merubah komposisi pemainnya. Dengan skema 4-4-2, ia kemungkinan akan kembali menduetkan <b>Jamie Vardy</b> dan <b>Shinji Okazaki </b>di posisi juru gedor mereka, sementara<b> Marc Albrighton </b>dan <b>Riyad Mahrez </b>akan membantu serangan dari sektor sayap. <b>Daniel Drinkwater </b>dan <b>Wilfried Ndidi </b>akan bertugas mengatur aliran bola, sementara <b>Kasper Schmeichel </b>akan menjadi penjaga gawang mereka pada laga ini.<br /><br />P<b>erkiraan Susunan Pemain<br />Arsenal (3-4-2-1):</b> Cech; Holding, Koscielny, Paulista; Gibbs, Xhaka, Coquelin, Bellerin; Ozil, Sanchez; Welbeck<br /><br /><b>Leicester City (4-4-2):</b> Schmeichel; Fuchs, Morgan, Huth, Simpson; Albrighton, Drinkwater, Ndidi, Mahrez; Okazaki, Vardy<br /><br /><b>Statistik Kedua Tim<br />Head to Head</b><br />20/08/16&nbsp; Leicester City&nbsp; 0 - 0&nbsp; Arsenal (EPL)<br />14/02/16&nbsp; <b>Arsenal&nbsp; </b>2 - 1&nbsp; Leicester City (EPL)<br />26/09/15&nbsp; Leicester City&nbsp; 2 - 5&nbsp; <b>Arsenal </b>(EPL)<br />11/02/15&nbsp; <b>Arsenal&nbsp; </b>2 - 1&nbsp; Leicester City (EPL)<br />31/08/14&nbsp; Leicester City&nbsp; 1 - 1&nbsp; Arsenal (EPL)<br />&nbsp;<br /><b>Lima Pertandingan Terakhir Arsenal (S-M-K-M-M)</b><br />02/04/17&nbsp; Arsenal&nbsp; 2 - 2&nbsp; Manchester City (EPL)<br />06/04/17&nbsp; <b>Arsenal&nbsp; </b>3 - 0&nbsp; West Ham United (EPL)<br />11/04/17&nbsp; <b>Crystal Palace&nbsp; </b>3 - 0&nbsp; Arsenal (EPL)<br />18/04/17&nbsp; Middlesbrough&nbsp; 1 - 2&nbsp; <b>Arsenal </b>(EPL)<br />23/04/17&nbsp; <b>Arsenal&nbsp; E</b> 2 - 1&nbsp; Manchester City (FA Cup)<br /><br /><b>Lima Pertandingan Terakhir Leicester City (M-K-K-S-S)</b><br />05/04/17&nbsp; <b>Leicester City&nbsp; </b>2 - 0&nbsp; Sunderland (EPL)<br />09/04/17&nbsp; <b>Everton&nbsp; </b>4 - 2&nbsp; Leicester City (EPL)<br />13/04/17&nbsp; <b>Atl&eacute;tico Madrid&nbsp; </b>1 - 0&nbsp; Leicester City (UCL)<br />15/04/17&nbsp; Crystal Palace&nbsp; 2 - 2&nbsp; Leicester City (EPL)<br />19/04/17&nbsp; Leicester City&nbsp; 1 - 1&nbsp; Atl&eacute;tico Madrid (UCL)<br />&nbsp;<br /><b>Prediksi Skor</b><br />Pertandingan EPL tengah pekan nanti akan menjadi laga yang krusial bagi kedua tim. Pasalnya kedua tim sama-sama membutuhkan 3 poin, di mana Arsenal butuh 3 poin untuk masuk Zona Liga Champions sementara Leicester butuh 3 poin untuk menjauh dari zona degradasi.<br /><br />Jika menilik sejarah pertemuan kedua tim, maka Arsenal masih menjadi tim yang diunggulkan untuk memenangkan laga ini. Namun Leicester City lebih diunggulkan dengan jadwal mengingat mereka tidak bermain akhir pekan lalu sementara Arsenal harus bermain selama 120 menit di semi final FA Cup akhir pekna kemarin, sehingga manajemen pemain akan menjadi kunci pada laga ini.<br /><br /><i>Bolanet </i>memprediksi laga ini akan berakhir dengan hasil <b>imbang 2-2.</b>&nbsp; Bagaimana prediksi anda <i>Bolaneters</i>? Sampaikan prediksi anda pada kolom komentar.<b>(bola/dub)</b><br />&nbsp;<b></b>    </div>
    <!-- End Body News -->



    <!-- Tag Terkait -->
            <div class="tagbola">
                            <a href="https://m.bola.net/tag/preview-pertandingan/">Preview Pertandingan</a>
                            <a href="https://m.bola.net/tag/arsenal/">arsenal</a>
                            <a href="https://m.bola.net/tag/premier-league/">premier league</a>
                            <a href="https://m.bola.net/tag/leicester-city/">leicester city</a>
                            <a href="https://m.bola.net/tag/prediksi-pertandingan/">prediksi pertandingan</a>
                            <a href="https://m.bola.net/tag/prediksi-bola/">prediksi bola</a>
                            <a href="https://m.bola.net/tag/prediksi-skor/">prediksi skor</a>
                    </div>
        <!-- End Tag Terkait -->

    <!-- Button Join -->
    <!--JOIN-SOSMED-->
<div class="kl-join16">
	<h6>Join Bola.net</h6>
    <ul class="list-join16">
        <li><a href="https://www.facebook.com/bola.net/" target="_blank" class="fb-join"></a></li>
        <li><a href="https://twitter.com/Bolanet" target="_blank" class="tweet-join"></a></li>
        <li><a href="https://www.instagram.com/bolanet/" target="_blank" class="insta-join"></a></li>
        <li><a href="https://www.youtube.com/channel/UCzTu5m37Hxx5O_Ruo29hTIw" target="_blank" class="youtube-join"></a></li>
        <li><a href="https://plus.google.com/u/0/+bolanet" target="_blank" class="gplus-join"></a></li>
        <li><a href="#" class="line-join"></a></li>
    </ul>
</div>
<!--JOIN-SOSMED-->    <!-- End Button Join -->

    <!-- Tokopedia -->

    <!-- Tokopedia -->
    <ins class="promo-ta"
    data-ad-client="pub-4"
    data-ad-unit="12"></ins>
    <script type="text/javascript" src="https://ecs7.tokopedia.net/scripts/ta-v1.2.js"></script>
    <!-- End Tokopedia -->    <!-- End Tokopedia -->

            <!-- Native --> <div id="native-ads-detail"><!--KLN INFEED-->
                            <div id="cont-50716010-all"></div>
                            <script>
                              var infeedConfall = {
                                "publisherId": "50716010",
                                "adunitId": "all",
                                "domainSite": "bola.net",
                                "style": "border:none; width: 100%; height:0px;",
                                "wrapperPage": "https://m.bola.net/infeed/wrapper.html",
                                "useCustomTemplate": 0
                              };
                              (function() {
                                var infAds = document.createElement("script");
                                infAds.async = true;
                                infAds.type = "text/javascript";
                                infAds.src = "//d.infeed.id/widget-50716010/loader/all/";
                                var node = document.getElementById("cont-50716010-all");
                                node.parentNode.insertBefore(infAds, node);
                              })();
                            </script>
                        <!--END KLN INFEED--></div> <!-- End Native -->
    </div>

<!-- Panorama -->
<!--DFP PANORAMA CODE -->
            <div id="div-gpt-ad-bola-dfp-panorama-oop"></div>
        <!--end DFP PANORAMA CODE -->
<!-- End Panorama -->

<div class="rm01">

    <!-- Widget Video -->
            <div class="native_video">
                    <div class="videoWrapper">
                        <div class="videoWrapper skrin-embed" id="native-video-1" data-url="https://skrin.id/watch/14p61tqzfmq6?ec=Reguler-Bola&el=&muted=1&autoplay=0&utm_source=bola.net-mobile&utm_medium=skrin&utm_campaign=Reguler-Bola&ref=null&slotId=slot-1" data-debug="true" data-lazy="true"></div>
                    </div>
                    <div class="title-video">
                        10 Wags Tercantik Premier League
                    </div>
                </div>
    <!-- End Widget Video -->

    <!-- Berita Terkait -->
    <div id="main_mid_headline">
        <div id="main_mid_headline_title">Berita Terkait</div>
        <div id="main_mid_headline_sub_topic" class="v2-font">
                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                            <div class="rel_img">
                                <a href="https://m.bola.net/tag/preview-pertandingan/prediksi-atletico-madrid-vs-villarreal-26-april-2017-700166.html">
                                    <img alt="Prediksi Atletico Madrid vs Villarreal 26 April 2017" src="https://cdns.klimg.com/bola.net/library/upload/20/2017/04/175/atletico-villarreal_437e9d5.jpg" />
                                </a>
                            </div>
                            <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/tag/preview-pertandingan/">Berita Preview Pertandingan</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/tag/preview-pertandingan/prediksi-atletico-madrid-vs-villarreal-26-april-2017-700166.html">
                                        Prediksi Atletico Madrid vs Villarreal 26 April 2017                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                                                            <div class="rel_img">
                                    <a href="https://m.bola.net/inggris/marseille-siap-tebus-giroud-20-juta-pounds-b18e6f.html">
                                        <img alt="Marseille Siap Tebus Giroud 20 Juta Pounds" src="https://cdns.klimg.com/bola.net/library/upload/20/2016/09/175/olivier-giroud_4976d98.jpg" />
                                    </a>
                                </div>
                                                        <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/inggris/">Liga Inggris</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/inggris/marseille-siap-tebus-giroud-20-juta-pounds-b18e6f.html">
                                        Marseille Siap Tebus Giroud 20 Juta Pounds                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--DFP NATIVEOUT 1 CODE-->
                    <div id="div-gpt-ad-bola-dfp-nativeOut-slot1-oop"></div>
                    <!--END DFP NATIVEOUT 1 CODE-->


                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                                                            <div class="rel_img">
                                    <a href="https://m.bola.net/inggris/mourinho-kehadiran-martial-seperti-pemain-baru-e94ab6.html">
                                        <img alt="Mourinho: Kehadiran Martial Seperti Pemain Baru" src="https://cdns.klimg.com/bola.net/library/upload/20/2016/12/175/martial_903ab8c.jpg" />
                                    </a>
                                </div>
                                                        <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/inggris/">Liga Inggris</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/inggris/mourinho-kehadiran-martial-seperti-pemain-baru-e94ab6.html">
                                        Mourinho: Kehadiran Martial Seperti Pemain Baru                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--DFP NATIVEOUT 2 CODE-->
                    <div id="div-gpt-ad-bola-dfp-nativeOut-slot2-oop"></div>
                    <!--END DFP NATIVEOUT 2 CODE-->

                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                                                            <div class="rel_img">
                                    <a href="https://m.bola.net/inggris/conte-juara-epl-akan-jadi-prestasi-terbesar-d22092.html">
                                        <img alt="Conte: Juara EPL Akan Jadi Prestasi Terbesar" src="https://cdns.klimg.com/bola.net/library/upload/20/2017/02/175/antonio-conte_a5179c8.jpg" />
                                    </a>
                                </div>
                                                        <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/inggris/">Liga Inggris</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/inggris/conte-juara-epl-akan-jadi-prestasi-terbesar-d22092.html">
                                        Conte: Juara EPL Akan Jadi Prestasi Terbesar                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--DFP NATIVEOUT 3 CODE-->
                    <div id="div-gpt-ad-bola-dfp-nativeOut-slot3-oop"></div>
                    <!--END DFP NATIVEOUT 3 CODE-->
                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                                                            <div class="rel_img">
                                    <a href="https://m.bola.net/inggris/mata-target-comeback-sebelum-akhir-musim-7a8bba.html">
                                        <img alt="Mata Target Comeback Sebelum Akhir Musim" src="https://cdns.klimg.com/bola.net/library/upload/20/2016/08/175/juan-mata_3e388a2.jpg" />
                                    </a>
                                </div>
                                                        <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/inggris/">Liga Inggris</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/inggris/mata-target-comeback-sebelum-akhir-musim-7a8bba.html">
                                        Mata Target Comeback Sebelum Akhir Musim                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                            <div class="related_news_item">
                    <div class="related_news_item_wrap">
                        <div class="related_news_item_box">
                                                            <div class="rel_img">
                                    <a href="https://m.bola.net/inggris/lloris-kekalahan-dari-chelsea-takkan-lukai-tottenham-156b6d.html">
                                        <img alt="Lloris: Kekalahan dari Chelsea Takkan Lukai Tottenham" src="https://cdns.klimg.com/bola.net/library/upload/20/2016/10/175/hugo-lloris_b6b0284.jpg" />
                                    </a>
                                </div>
                                                        <div class="rel_content">
                                <span class="rel_cat">
                                    <a href="https://m.bola.net/inggris/">Liga Inggris</a>
                                </span>
                                <div class="rel_title">
                                    <a href="https://m.bola.net/inggris/lloris-kekalahan-dari-chelsea-takkan-lukai-tottenham-156b6d.html">
                                        Lloris: Kekalahan dari Chelsea Takkan Lukai Tottenham                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                        <div class="clear"></div>
        </div>
    </div>
    <!-- End Berita Terkait -->

    <!-- Widget Video -->
            <div class="native_video">
                    <div class="videoWrapper">
                        <div class="videoWrapper skrin-embed" id="native-video-2" data-url="https://skrin.id/watch/14s2fxjvf4pz?ec=BolanetUpdates---5-Pemain-Ke&el=&muted=1&autoplay=0&utm_source=bola.net-mobile&utm_medium=skrin&utm_campaign=BolanetUpdates---5-Pemain-Ke&ref=null&slotId=slot-2" data-debug="true" data-lazy="true"></div>
                    </div>
                    <div class="title-video">
                        #BolanetUpdates - Pesepakbola Yang Pernah Menghilangkan Nyawa Orang Lain
                    </div>
                </div>
    <!-- End Widget Video -->

    <!-- Facebook Comment -->
    <style>
        /* for facebook width 100% */
        #fbcommentbox{margin-top:20px;}
        .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe[style] {width: 100% !important;height:auto; overflow: auto;}
        .fb_reset, .fb_reset div, .fb_reset iframe[style] {width: 100% !important;overflow: auto !important;}
        .fb-comments, .fb-comments iframe[style], .fb-comments span {width: 100% !important;}
    </style>
            <div id="fbcommentbox">
        <h3 style="margin:5px 0">KOMENTAR</h3>
        <div class="fb-comments-unloaded" data-href="https://www.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html" data-numposts="2" data-colorscheme="light" data-mobile="false"></div>
    </div>
    <script type="text/javascript">

        function fbCommentsWorkaround() {
            var foundFBComs = false;
            $('.fb-comments-unloaded').each(function(){

                var $fbCom = $(this),
                contWidth = $fbCom.parent().width();

                $fbCom.attr('data-width', contWidth)
                .removeClass('fb-comments-unloaded')
                .addClass('fb-comments');

                foundFBComs = true;

            });
            if (foundFBComs) {
                FB.XFBML.parse();
            }
        }
        window.fbAsyncInit = function() {
            FB.init({
                    appId	: "166048096750307",
                    status	: true,
                    cookie	: true,
                    oauth	: true,
                    xfbml	: true,
                    logging	: false
            });
            fbCommentsWorkaround();
        };
        (function(d){
            var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
    </script>
        <!-- End Facebook -->

</div>

<div class="rm01">
    <!-- Share Twitter and Fb -->
    <div id="main_mid_detail_share_box" class="v2-font"><span id="main_mid_detail_share_box_title">SHARE:</span> <a class="main_mid_detail_share_box_item" href="http://m.facebook.com/sharer.php?u=https://m.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html">Facebook</a> | <a class="main_mid_detail_share_box_item" href="http://twitter.com/share?url=https://m.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html">Twitter</a></div>
    <!-- End Share Twitter and Fb -->


    <!-- Box Hemat -->
    <div class='iframe_wrapper'><!--HEMAT EMBED IFRAME-->
                <div id="ComtagContent"></div>
                <script>
                    var HematConf = {
                        domainSite: 'bola.net',
                        frameStyle: 'border:none;margin:0;padding:0;width:100%;',
                    };
                    (function() {
                        var comTags = document.createElement('script');
                        comTags.async = true;
                        comTags.type = 'text/javascript';
                        comTags.src = 'https://m.hemat.com/widget/loader/'+HematConf.domainSite+'/';
                        var node = document.getElementsByTagName('script')[0];
                        node.parentNode.insertBefore(comTags, node);
                    })();
                </script>
            <!--END HEMAT EMBED IFRAME--></div>    <!-- End Box Hemat -->


</div>


<div class="rm01">
    <!-- Lates Update -->
            <div id="main_mid_lastest" class="v2-font">
            <div id="main_mid_lastest_title">Latest Update</div>
            <ul id="main_mid_lastest_list">
                                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/inggris/">Inggris</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/inggris/mourinho-beber-alasan-mainkan-rooney-90-menit-lawan-burnley-c9f36b.html">Mourinho Beber Alasan Mainkan Rooney 90 Menit Lawan Burnley</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/inggris/">Inggris</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/inggris/head-to-head-chelsea-vs-southampton-eaf8ff.html">Head-to-head: Chelsea vs Southampton</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/spanyol/">Spanyol</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/spanyol/direktur-real-madrid-kecam-kartu-merah-ramos-di-clasico-fa0b49.html">Direktur Real Madrid Kecam Kartu Merah Ramos di Clasico</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/inggris/">Inggris</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html">Prediksi Arsenal vs Leicester City 27 April 2017</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/spanyol/">Spanyol</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/spanyol/500-gol-barca-ronaldinho-selamati-messi-8db7a2.html">500 Gol Barca, Ronaldinho Selamati Messi</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/italia/">Italia</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/italia/barzagli-menolak-pensiun-28048b.html">Barzagli Menolak Pensiun</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/inggris/">Inggris</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/inggris/marseille-siap-tebus-giroud-20-juta-pounds-b18e6f.html">Marseille Siap Tebus Giroud 20 Juta Pounds</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/champions/">Champions</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/champions/mantan-kapten-roma-prediksikan-juve-treble-1674fe.html">Mantan Kapten Roma Prediksikan Juve Treble</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/spanyol/">Spanyol</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/spanyol/fernandez-barca-segera-perpanjang-kontrak-messi-dan-iniesta-c82d73.html">Fernandez: Barca Segera Perpanjang Kontrak Messi dan Iniesta</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/indonesia/">Indonesia</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/indonesia/danurwindo-menilai-marquee-player-belum-beri-dampak-761614.html">Danurwindo Menilai Marquee Player Belum Beri Dampak</a>
                        </li>
                                                </ul>
        </div>
        <!-- End Latest Update -->

    <!-- Latest Editorial -->
            <div id="main_mid_lastest" class="v2-font">
            <div id="main_mid_lastest_title"><a href="https://m.bola.net/editorial/">Latest Editorial</a></div>
            <ul id="main_mid_lastest_list">
                                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/editorial/">Editorial</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/editorial/5-pemain-yang-bisa-jadi-penentu-di-el-clasico-selain-cr7--messi.html">5 Pemain Yang Bisa Jadi Penentu di El Clasico Selain CR7 & Messi</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/editorial/">Editorial</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/editorial/5-pemain-top-yang-pernah-memperkuat-real-madrid--barcelona.html">5 Pemain Top Yang Pernah Memperkuat Real Madrid & Barcelona</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/editorial/">Editorial</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/editorial/pemain-yang-bakal-absen-di-laga-el-clasiso.html">Pemain Yang Bakal Absen di Laga El Clasiso</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/editorial/">Editorial</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/editorial/5-calon-pengganti-claudio-bravo-di-manchester-city.html">5 Calon Pengganti Claudio Bravo di Manchester City</a>
                        </li>
                                            <li class="main_mid_lastest_list_title">
                            <span class="main_mid_lastest_list_title_style1"><a href="https://m.bola.net/editorial/">Editorial</a></span>
                        </li>
                        <li class="main_mid_lastest_list_info">
                            <a href="https://m.bola.net/editorial/bintang-premier-league-yang-pindah-ke-klub-rival.html">Bintang Premier League Yang Pindah ke Klub Rival</a>
                        </li>
                                                </ul>
        </div>
        <!-- End Latest Editorial -->


    <!-- Link Bottom -->
    <div class="d4">
        <hr id="title-category-break" />
        <a class="d6 title-category" href="https://m.bola.net/inggris/">BERITA LIGA INGGRIS</a>
        <hr id="title-category-break" />
        <a class="d6 title-category" href="https://m.bola.net/berita_terkini/index1.html">INDEX BERITA</a>
    </div>
    <!-- End Link Bottom -->

</div>

        <!-- bottom_Ad -->
        <div class="w100p"></div>
        <!-- eof_bottom_Ad -->

	    <div>
				<div id="main_top_nav">
                <!--<a href="/" class="main_top_nav_home"><img src="https://cdns.klimg.com/bola.net/library/i/v2/home-13.jpg" alt="home-13" width="16" height="16" /></a>-->
                <a href="/berita_terkini/" class="main_top_nav_item">BERITA</a>
                <!--<a href="/jadwal_skor/score.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; Skor</a>-->
                <a href="/jadwal_skor/score.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; JADWAL</a>
                <a href="/jadwal_skor/klasemen_liga_inggris.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; KLASEMEN</a>
                <a href="/lainnya.html" class="main_top_nav_item">|&nbsp;&nbsp;&nbsp; LAINNYA</a>
		</div>
		<!--<div class="d12">
		    <a href="#top" class="d16">Top &#916;</a> &#8226;
		    <a href="/sitemap.html" class="d16"> Sitemap</a> &#8226;
		    <a href="/feedback.html" class="d16"> Saran </a> &#8226;
		    <a class="d16 as" href="?fontsize=s">A</a>&#160;
		    <a class="d16 am" href="?fontsize=m">A</a>&#160;
		    <a class="d16 al" href="?fontsize=l">A</a>&#160;
		    <div class="a5">
			    &#169; 2012 Bola.net
		    </div>
		</div>-->

        <!-- CHANNEL MENU TOP-->
        <div class="channel-section container clearfix">
	<div id="channel-collapse">
        <ul class="list-channelbar clearfix">
            <li class="active"><a href="https://m.bola.net/"  rel = "nofollow"  target="_blank">BOLA.NET</a></li>
            <li><a href="http://m.kapanlagi.com/"  rel = "nofollow"  target="_blank">KAPANLAGI</a></li>
            <li><a href="http://m.merdeka.com/"  rel = "nofollow"  target="_blank">MERDEKA</a></li>
            <li><a href="http://m.vemale.com/"  rel = "nofollow"  target="_blank">VEMALE</a></li>
            <li><a href="http://m.fimela.com/"  rel = "nofollow"  target="_blank">FIMELA</a></li>
            <li><a href="http://m.otosia.com/"  rel = "nofollow"  target="_blank">OTOSIA</a></li>
            <li><a href="http://feed.id/"  rel = "nofollow"  target="_blank">FEED.ID</a></li>
            <li><a href="http://m.hemat.com/"  rel = "nofollow"  target="_blank">HEMAT</a></li>
            <li><a href="http://m.techno.id/"  rel = "nofollow"  target="_blank">TECHNO.ID</a></li>
            <li><a href="http://m.sooperboy.com/"  rel = "nofollow"  target="_blank">SOOPERBOY</a></li>
            <li><a href="http://m.muvila.com/"  rel = "nofollow"  target="_blank">MUVILA</a></li>
            <li><a href="http://m.dream.co.id/"  rel = "nofollow"  target="_blank">DREAM.CO.ID</a></li>
            <li><a href="http://m.storibriti.com/"  rel = "nofollow"  target="_blank">STORIBRITI</a></li>
            <li><a href="http://m.famous.id/"  rel = "nofollow"  target="_blank">FAMOUS.ID</a></li>
            <li><a href="http://m.fimela.com/family/"  rel = "nofollow"  target="_blank">FIMELA FAMILY</a></li>
            <li><a href="http://m.fimela.com/girl/"  rel = "nofollow"  target="_blank">FIMELA GIRL</a></li>
            <li><a href="http://www.pergi.com/"  rel = "nofollow"  target="_blank">PERGI.COM</a></li>
        </ul>
        <div class="logo-channel">
            <a href="http://www.kln.id/"  rel = "nofollow"  target="_blank"><img src="https://cdns.klimg.com/bola.net/library/i/v2/channelbar-m-logo_KLN.png" width="86" /></a>
        </div>
   </div>
    <div class="navbar-channel clearfix">
        <div class="pull-left">
        	<h6 class="title-channel middle-channel">KAPANLAGI NETWORK</h6>
        </div>
        <div class="button-channel pull-right">
            <a href="javascript:void(0)" class="click-channel middle-channel">
                <img src="https://cdns.klimg.com/bola.net/library/i/v2/channelbar-m-dot_aa2.png" width="3" class="icon-channel" />
                <img src="https://cdns.klimg.com/bola.net/library/i/v2/channelbar-m-close.png" width="16" class="close-channel" />
            </a>
        </div>
    </div>

</div>        <!-- END CHANNEL MENU TOP-->

		<div id="main_bot">
		    <div id="main_bot_menu">
		        <a href="#top" class="main_bot_menu_links" href="">Top &#x25B3;</a>&#8226;
                <a href="/redaksi.html" class="main_bot_menu_links" href="">Redaksi</a>&#8226;
		        <a href="/sitemap.html" class="main_bot_menu_links" href="">Sitemap</a>&#8226;
		        <a href="/feedback.html" class="main_bot_menu_links" href="">Saran</a>
		    </div>
		    <div id="main_bot_copyright">&#169; Bola.net - KLN KapanLagi Network <br/> All Rights Reserved</div>
		</div>
            </div>
        </div>


        <!-- POPUPSLOT -->
        <!--DFP BOTTOM FRAME CODE-->
            <div id="dfp-bframe-cont" class="dfp-bframe-cont" style="bottom: 0px; max-height: 50px; left: 50%; margin-left: -160px; position: fixed; z-index: 99999;">
                <center>
                    <div id="div-gpt-ad-bola-bottomfrm" style="text-align: center; width: 320px; margin: 0 auto;"></div>
                </center>
            </div>
            <div id="dfp-bframe-cont-transparent" style="opacity: 0.7; position: fixed; bottom: 0; min-height: 50px; background-color: #ECECEC; width: 100%; text-align: center;display:none;"></div>
        <!--END DFP BOTTOM FRAME CODE-->

        <!--DFP POPUP CODE-->
        <div id="div-gpt-ad-bola-popup-oop" style="text-align: center;"></div>
        <!--END DFP POPUP CODE-->

        <!--DFP OVERLAY ADS-->
        <div id="div-gpt-ad-dfp-overlay-oop"></div>
        <!--END DFP OVERLAY ADS-->
        <!-- ENDOFPOPUPSLOT -->

        <!-- DFP -->
                <!--CRITEO CODE-->
        <script type='text/javascript'>
            var crtg_nid = '3467';
            var crtg_cookiename = 'crtg_rta';
            var crtg_varname = 'crtg_content';
            function crtg_getCookie(c_name){ var i,x,y,ARRCookies=document.cookie.split(";");for(i=0;i<ARRCookies.length;i++){x=ARRCookies[i].substr(0,ARRCookies[i].indexOf("="));y=ARRCookies[i].substr(ARRCookies[i].indexOf("=")+1);x=x.replace(/^\s+|\s+$/g,"");if(x==c_name){return unescape(y);} }return'';}
            var crtg_content = crtg_getCookie(crtg_cookiename);
            var crtg_rnd=Math.floor(Math.random()*99999999999);
            (function(){
            var crtg_url=location.protocol+'//rtax.criteo.com/delivery/rta/rta.js?netId='+escape(crtg_nid);
            crtg_url +='&cookieName='+escape(crtg_cookiename);
            crtg_url +='&rnd='+crtg_rnd;
            crtg_url +='&varName=' + escape(crtg_varname);
            var crtg_script=document.createElement('script');crtg_script.type='text/javascript';crtg_script.src=crtg_url;crtg_script.async=true;
            if(document.getElementsByTagName("head").length>0)document.getElementsByTagName("head")[0].appendChild(crtg_script);
            else if(document.getElementsByTagName("body").length>0)document.getElementsByTagName("body")[0].appendChild(crtg_script);
            })();
        </script>
        <!--END CRITEO CODE-->

        <!--DFP CODE-->
            <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
            <script>
                  var googletag = googletag || {};
                  googletag.cmd = googletag.cmd || [];
            </script>

            <!-- ProPS Script -->
			<script type='text/javascript'>
				var AI_AUDIENCE_COOKIE_NAME = "ai.audience";
				var aiService = aiService || {};
				aiService.audienceData = aiService.audienceData || {};

				window.aiService.getCookie = function(cookieName) {
					var cookiePattern = new RegExp('(^|;)[ ]*' + cookieName + '=([^;]*)');
					cookieMatch = cookiePattern.exec(document.cookie);
					return cookieMatch ? window.decodeURIComponent(cookieMatch[2]) : 0;
				};

				try {
					var audience = window.aiService.getCookie(AI_AUDIENCE_COOKIE_NAME);
					var audienceObjects = "";
					if (audience != undefined && audience != "") {
						audienceObjects = JSON.parse(audience);
					};
					if(audienceObjects != "" && typeof audienceObjects.audiences != "undefined"){
						aiService.audienceData = audienceObjects.audiences;
					}
				} catch (ex) {};

				window.aiService.getAudience = function(key){

					try{
						if(typeof window.aiService.audienceData[key] != 'undefined') return window.aiService.audienceData[key];
						return [];
					}catch(ex){
						return [];
					}
				};
				/* define audience keys */
				var audience_data_key = "interest";
			</script>
			<!-- End ProPS Script -->

				<!-- AudienceScience Async Data Collection Tag -->
				<script>
				(function() {
				 var csid = "F09828";
				 var bpid = "kapanlagi_id";
				 var e = document.createElement("script");
				 var s = document.getElementsByTagName("script")[0];
				 e.src = "//js.revsci.net/gateway/gw.js?auto=t&csid=" + csid + "&bpid=" + bpid;
				 e.async = true;
				 s.parentNode.insertBefore(e, s);
				})();
				</script>
				<!-- End AudienceScience Data Collection Tag -->

			<!--  START: Implement RTBx Script on all pages of the website where RTB House will deliver ads. Please put this below GPT header tag -->
			<script>
			var RTBx = RTBx || {};
			RTBx = {
				CookieName: "rh_kln",
				rtgt_set: !1,
				GetCookie: function(a) {
					for (var b = a + "=", c = document.cookie.split("; "), d = 0; d < c.length; d++) {
						for (var e = c[d];
							" " == e.charAt(0);) e = e.substring(1);
						if (0 == e.indexOf(b)) return decodeURIComponent(e.substring(b.length, e.length))
					}
					return ""
				},
				rtgt: function() {
					if (RTBx.rtgt_set === !1) {
						var a = "https://x-" + RTBx.CookieName.substring(3) + ".inventorycdn.com/js?cookie=" + RTBx.CookieName,
							b = document.createElement("script");
						b.type = "text/javascript", b.src = a, b.async = !0, document.getElementsByTagName("head").length > 0 ? document.getElementsByTagName("head")[0].appendChild(b) : document.getElementsByTagName("body").length > 0 && document.getElementsByTagName("body")[0].appendChild(b), RTBx.rtgt_set = !0
					}
				},
				SetRetargeting: function() {
					RTBx.rtgt();
					for (var a = RTBx.GetCookie(RTBx.CookieName), b = a.split("|"), c = [], d = 0; d < b.length; d++) c.push(b[d].split("/")[0]);
					a.length > 0 && googletag.cmd.push(function() {
						googletag.pubads().setTargeting("keylimit", c).addService(googletag.pubads()), googletag.enableServices()
					})
				}
			};
			try {
				RTBx.SetRetargeting()
			} catch (a) {}
			</script>
			<!-- ENDOF: Implement RTBx Script on all pages of the website where RTB House will deliver ads. Please put this below GPT header tag -->

            <script>
                /*Compressed GPT Tag v20170314-1903*/
				function inArray(a,b){for(var c=b.length,d=0;d<c;d++)if(b[d]==a)return!0;return!1}function document_meta(a){var b="",c=document.getElementsByTagName("meta");if(c)for(var d=0,e=c.length;d<e;d++)c[d].name.toLowerCase()==a&&(b+=c[d].content);return""!=b?b:""}var taggedAds=new Array("liga champions","premier league","jadwal tv","timnas inggris","manchester city","manchester united","arsenal","la liga","liga inggris","barca","real madrid"),blackListWords=new Array("matcont","aduhai","alat kelamin","alat vital","anal","belahan dada","bercinta","bergairah","berhubungan intim","bikini","bokong","boob side","bra","bugil","celana dalam","ciuman","cleavage","dada","dewasa","diremas","doggie style","ejakulasi","ereksi","erotis","film porno","foreplay","french kiss","gairah","gairah istri","gairah seks","gairah suami","gangbang","horny","hot","hot spot","hubungan badan","hubungan intim","hubungan seks","intim","kamasutra","keperawanan","kondom","kontrasepsi","libido","lingerie","masturbasi","mature","menggairahkan","menggoda","mesra","miss V","mr p","nakal","naughty","nipple","nipples","onani","oral","oral seks","organ intim","orgasme","paha","pantat","panties","payudara","pelecehan","penari telanjang","penetrasi","penis","perkosa","perkosaan","pole dance","porno","pornoaksi","pornografi","posisi seks","posisi telentang","provokatif","putting","ranjang","seks","sex","seks non-penetratif","seksi","seksual","sensual","seronok","sex doll","sex toys","skandal seks","sperma","striptease","striptis","syur","telanjang","terangsang","tiduri","tips seks","topless","vagina","vibrator","woman on top"),urlPath=document.URL,urlArray=urlPath.split("/"),dfp_Channel=window.location.host,nLevel=1,isMatcont=!1,matureKeyword="21 ke atas";if(!crtg_content)var crtg_content="";if(!blackListWords)var blackListWords=new Array("matcont");var isHomepage="https://m.bola.net"==urlPath||"https://m.bola.net/"==urlPath||"https://m.bola.net/index.html"==urlPath||urlPath.indexOf("https://m.bola.net?")>-1,dfp_IsSledLive=!1,natout_style=document.createElement("style");natout_style.innerHTML=".no-wrapper{border: none !important;}",document.getElementsByTagName("head")[0].appendChild(natout_style),googletag.cmd.push(function(){function E(a){var b=document.cookie,c=b.indexOf(" "+a+"=");if(-1==c&&(c=b.indexOf(a+"=")),-1==c)b=null;else{c=b.indexOf("=",c)+1;var d=b.indexOf(";",c);-1==d&&(d=b.length),b=unescape(b.substring(c,d))}return b}function F(a,b,c,d){b=escape(b);var e=G();if(""==d){var f=new Date;f.setHours(f.getHours(),f.getMinutes()+10),d=f.toGMTString()}""!=c&&(c=";Path="+c),document.cookie=a+"="+b+";expires="+d+c+";Domain="+e}function G(){var a,b=window.location.href;return a=b.indexOf("://")>-1?b.split("/")[2]:b.split("/")[0],a=a.split(":")[0]}function H(){var a=function(){var a=document.createElement("div");return function(b,c){var d=a.cloneNode(!1);d.id=c,b.parentNode.insertBefore(d,b),d.appendChild(b)}}();document.getElementById("div-gpt-ad-dfp-overlay-oop").setAttribute("id","div-gpt-ad-dfp-sled-oop");var b=parent.document.getElementById("div-gpt-ad-dfp-sled-oop");a(b,"tilt-relative");var b=parent.document.getElementById("tilt-relative");a(b,"tilt-box");var b=parent.document.getElementById("tilt-box");a(b,"tilt-content");var b=parent.document.getElementById("tilt-content");return a(b,"ads-tilt"),googletag.cmd.push(function(){googletag.display("div-gpt-ad-dfp-sled-oop")}),1}function I(){return document.getElementById("div-gpt-ad-dfp-overlay-oop").setAttribute("id","div-gpt-ad-dfp-slideup-oop"),googletag.cmd.push(function(){googletag.display("div-gpt-ad-dfp-slideup-oop")}),2}function J(){return document.getElementById("div-gpt-ad-dfp-overlay-oop").setAttribute("id","div-gpt-ad-popup-oop"),googletag.cmd.push(function(){googletag.display("div-gpt-ad-popup-oop")}),3}function K(){if(!navigator.userAgent.match(/Opera Mini/i)){var a="dfp_overlayChecker",b=E(a);b=b?parseInt(b)+1:1==r?0:1,b<5&&(b<4&&(0==b?dfp_isPopup_active&&J():1==b?dfp_isSled_active?b=H():dfp_isSlideup_active?b=I():dfp_isPopup_active&&(b=J()):2==b?dfp_isSlideup_active?b=I():dfp_isPopup_active&&(b=J()):3==b&&dfp_isPopup_active&&(b=J())),F(a,b,"/",""))}}var a="/36504930/m.bola.net/dfp-sled";googletag.defineOutOfPageSlot(a,"div-gpt-ad-dfp-sled-oop").addService(googletag.pubads()),googletag.defineSlot("/36504930/m.bola.net/dfp-headline",[[320,50],[320,100]],"div-gpt-ad-bola-hl").addService(googletag.pubads());var b="/36504930/m.bola.net/dfp-bottomfrm",c=navigator.userAgent.toLowerCase(),d=c.indexOf("opera mini")>-1;d||googletag.defineSlot(b,[320,50],"div-gpt-ad-bola-bottomfrm").addService(googletag.pubads());var e="/36504930/m.bola.net/dfp-sc",f="/36504930/m.bola.net/dfp-middle";isHomepage?googletag.defineOutOfPageSlot(e,"div-gpt-ad-bola-sc").addService(googletag.pubads()):googletag.defineSlot(e,[300,250],"div-gpt-ad-bola-sc").addService(googletag.pubads());var g="/36504930/m.bola.net/dfp-topfrm";googletag.defineOutOfPageSlot(g,"div-gpt-ad-bola-topfrm-oop").addService(googletag.pubads());var h="/36504930/m.bola.net/dfp-pop";googletag.defineOutOfPageSlot(h,"div-gpt-ad-popup-oop").addService(googletag.pubads());var i="/36504930/m.bola.net/dfp-natAds-1",j="/36504930/m.bola.net/dfp-natAds-2",k="/36504930/m.bola.net/dfp-natAds-3",l="/36504930/m.bola.net/dfp-nativeOut-slot1";googletag.defineOutOfPageSlot(l,"div-gpt-ad-bola-dfp-nativeOut-slot1-oop").addService(googletag.pubads());var m="/36504930/m.bola.net/dfp-nativeOut-slot2";googletag.defineOutOfPageSlot(m,"div-gpt-ad-bola-dfp-nativeOut-slot2-oop").addService(googletag.pubads());var n="/36504930/m.bola.net/dfp-nativeOut-slot3";googletag.defineOutOfPageSlot(n,"div-gpt-ad-bola-dfp-nativeOut-slot3-oop").addService(googletag.pubads());var o="/36504930/m.bola.net/dfp-panorama";googletag.defineOutOfPageSlot(o,"div-gpt-ad-bola-dfp-panorama-oop").addService(googletag.pubads());var p="/36504930/m.bola.net/dfp-slideup";googletag.defineOutOfPageSlot(p,"div-gpt-ad-dfp-slideup-oop").addService(googletag.pubads());for(var q=11,r=!1,s=(crtg_content||"").split(";"),t=googletag.pubads(),u=1;u<s.length;u++)t.setTargeting(""+s[u-1].split("=")[0],""+s[u-1].split("=")[1]);var v=urlArray[urlArray.length-1],w=v.split("-"),x=document_meta("keywords"),y=x.split(","),z=y.concat(w);z.forEach(function(a){a=a.trim().toLowerCase(),inArray(a,blackListWords)&&(isMatcont=!0),a.trim()==matureKeyword&&(r=!0,googletag.pubads().setTargeting("isMature",["1"]),document.getElementById("div-gpt-ad-dfp-overlay-oop").setAttribute("id","div-gpt-ad-popup-oop"))}),isMatcont&&googletag.pubads().setTargeting("isMatcont",["1"]);var A=document_meta("description"),B=A.split(","),B=B.concat(w),C=new Array;B.forEach(function(a){a=a.trim().toLowerCase(),inArray(a,taggedAds)&&C.push(a)}),C.length>0&&googletag.pubads().setTargeting("taggedAds",C),googletag.pubads().setTargeting("currentUrl",urlPath);var D=0;dfp_isSled_active=!1,dfp_isSlideup_active=!1,dfp_isPopup_active=!1,googletag.pubads().addEventListener("slotRenderEnded",function(c){var d=c.isEmpty?"none":"block",r=c.slot.getSlotId().getAdUnitPath(),s=c.slot.getSlotId().getId();if(D++,"block"==d)isHomepage&&(r==l&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot1-oop").className="home_hl_item"),r==m&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot2-oop").className="home_hl_item"),r==n&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot3-oop").className="home_hl_item")),r==a&&(dfp_isSled_active=!0,dfp_IsSledLive=!E("dfp_overlayChecker")),r==p&&(dfp_isSlideup_active=!0),r==h&&(dfp_isPopup_active=!0),r==g&&(scWidth=0,self.innerHeight&&(scWidth=self.innerWidth),document.documentElement&&document.documentElement.clientHeight&&(scWidth=document.documentElement.clientWidth),document.body&&(scWidth=document.body.clientWidth),100*scWidth/480<100?scWidth=100*scWidth/480:scWidth=100,document.getElementById("google_ads_iframe_"+s).setAttribute("height",scWidth),document.getElementById("google_ads_iframe_"+s).setAttribute("width","100%")),r==o&&(scWidth=0,self.innerHeight&&(scWidth=self.innerWidth),document.documentElement&&document.documentElement.clientHeight&&(scWidth=document.documentElement.clientWidth),document.body&&(scWidth=document.body.clientWidth),document.getElementById("google_ads_iframe_"+r+"_0__container__").setAttribute("style","border: 0pt none; margin: auto; text-align: center; height:530px; width:100%;"),document.getElementById("google_ads_iframe_"+s).setAttribute("height","530"),document.getElementById("google_ads_iframe_"+s).setAttribute("width",scWidth),document.getElementById("google_ads_iframe_"+s).setAttribute("style","width:100%;")),r==b&&document.getElementById("dfp-bframe-cont-transparent").setAttribute("style","opacity: 0.7; position: fixed; bottom: 0; min-height: 50px; background-color: #ECECEC; width: 100%; text-align: center;");else{if(isHomepage&&(r==l&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot1-oop").className=""),r==m&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot2-oop").className=""),r==n&&(document.getElementById("div-gpt-ad-bola-dfp-nativeOut-slot3-oop").className="")),r==e&&isHomepage){var t=document.getElementById("div-gpt-ad-bola-sc");t.id="div-gpt-ad-bola-middle-oop",t.innerHTML="",t.style.width="320px",googletag.defineOutOfPageSlot(f,"div-gpt-ad-bola-middle-oop").addService(googletag.pubads()),googletag.display("div-gpt-ad-bola-middle-oop")}r==g&&document.getElementById("google_ads_iframe_"+s+"__container__").setAttribute("style","display: none;"),r!=i&&r!=j&&r!=k||document.getElementById("google_ads_iframe_"+s+"__container__").setAttribute("style","display: none;"),r!=l&&r!=m&&r!=n||document.getElementById("google_ads_iframe_"+s+"__container__").setAttribute("style","display: none;")}D==q&&K()});var L=dfp_Channel+" - "+(isHomepage?"homepage":"general");googletag.pubads().setTargeting("rubric",[L]),googletag.pubads().setTargeting(audience_data_key,aiService.getAudience(audience_data_key)),navigator.userAgent.match(/Opera Mini/i)||navigator.userAgent.match(/OPR/i)?googletag.pubads().setTargeting("browsertype","operamini"):navigator.userAgent.match(/^Mozilla\/5\.0 .+ Gecko\/$/)||navigator.userAgent.match(/UCBrowser/i)?googletag.pubads().setTargeting("browsertype","ucbrowser"):googletag.pubads().setTargeting("browsertype","other"),googletag.pubads().setCentering(!0),googletag.pubads().enableSingleRequest(),googletag.enableServices()}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-topfrm-oop")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-hl")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-dfp-nativeOut-slot1-oop")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-dfp-nativeOut-slot2-oop")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-dfp-nativeOut-slot3-oop")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-dfp-panorama-oop")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-sc")}),googletag.cmd.push(function(){googletag.display("div-gpt-ad-bola-bottomfrm")});
			</script>
        <!--DFP CODE-->

        <!-- END DFP -->

	<iframe src="http://d.kapanlaginetwork.com/mga.html?https://m.bola.net/inggris/prediksi-arsenal-vs-leicester-city-27-april-2017-862cda.html" height="1" width="1"></iframe>


        <!--DFP INTEREST SEGMEN-->
                <script type="text/javascript" src="https://www.newshub.id/dmp/pixel.js?segmen=5&amp;interest=23"></script>
        <!--END DFP INTEREST SEGMEN-->


        <!-- Begin comScore Tag -->
            <script>var _comscore = _comscore || []; _comscore.push({ c1: "2", c2: "12418281" }); (function() { var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true; s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js"; el.parentNode.insertBefore(s, el); })();</script>
            <noscript><img src="http://b.scorecardresearch.com/p?c1=2&c2=12418281&cv=2.0&cj=1"     /></noscript>
        <!-- End comScore Tag -->

</body></html>